{% extends 'base.html' %}

{% block title %}About{% endblock title %}

{% block content %}
    <h1>About IssueTrackr</h1>

    <h4>Welcome to IssueTrackr, your go-to solution for efficient and seamless issue management. Whether you're leading a project, coordinating with teams, or ensuring the smooth operation of a business, IssueTrackr is designed to make tracking and resolving issues easier than ever before.</h4>

    <h4>Our Mission
    At IssueTrackr, our mission is to empower teams to tackle challenges head-on with a tool that simplifies the entire issue management process. We believe that clear communication, organized tracking, and timely resolution are the keys to success in any project. That’s why we’ve created a platform that puts everything you need in one place.</h4>
    
    <h4>What We Offer
    Comprehensive Issue Tracking: Easily log, categorize, and prioritize issues with a user-friendly interface that keeps everything organized.</h4>

    <h4>Collaboration and Communication: Share issues with your team, track progress, and receive updates through real-time updates.</h4>

{% endblock content %}